# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore .idea directory
.idea/
*.idea

# Ignore dataset directory and files within housing
housing/

# Ignore document files
*.doc
*.docx
*.pdf

# Ignore virtual environment directories
venv/
.env/